@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Poppis',sans-serif;
   background-image: linear-gradient(to right, orange, gray);
   height: 400hv;
   top: 50px;
}

.inputUser.inputUser{
   padding: 0.2em; ;
   border-radius: 4px;
   display: inline;
   display: inline-block;

}

fieldset{
   border: 3px solid dodgerblue;
}

textarea, p{
   font-size: 0.8rem;
   letter-spacing: 1px;
}

textarea{
   padding: 10px;
   max-width: 100%;
   line-height: 1.5;
   border-radius: 5px;
   border: 1px solid #ccc;
   box-shadow: 1px 1px 1px #999;
}



